# MATH 3345 Final Exam Notebook: R

Your final exam score is made up of 3 components:
- **D2L Quiz** on the R tasks in this notebook: 50% of exam score
- Python notebook tasks: 20% of exam score
- In-class test: 30% of exam score

#### NOTE: All credit for your work in this notebook will be based on your answers to the D2L Quiz questions.
##### You will not submit this notebook.

### Set Up 

Load the packages needed for these tasks.

**NOTE:** _Only run the 'install.packages' steps below if the ```library``` command to load the specified package generates an error message._

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("dplyr")

In [ ]:
library(dplyr)

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("stringr")

In [ ]:
library(stringr)

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("tidyr")

In [ ]:
library(tidyr)

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("ggplot2")

In [ ]:
library(ggplot2)

### Load Data Set
The file loaded below is a more condensed version of the ```babynames``` data set in the **babynames** library. (One column has been removed to save space, but the rows are all present and are otherwise the same.) Having this data set stored locally also prevents you from having to load the library, which sometimes does not load successfully.

The data set provides the names given to babies in the U.S. from 1880 to 2017, with details on birth sex and the number of babies who were given the name.

**For all tasks, you may assume that if 2 names are spelled differently, they are considered different names, even if they are pronounced the same.** For instance "Lynn" and "Lynne" should be treated as two different names.

In [ ]:
df_names <- read.csv("Data/baby_names.csv")

In [ ]:
head(df_names)

## Tasks

##### After completing each task, remember to enter your answer into the associated question in the D2L Quiz.

### Task 1

Create a dataframe containing each different female name, with 2 additional columns: 
- The total number of **years** the name was used
- The total number of **times** the name was given to a baby, _regardless_ of year

Call this dataframe ```df_females``` and _**use it for the next several tasks.**_

#### Associated D2L Quiz Question:
- _How many rows are in the ```df_females``` dataframe?_

In [ ]:
# Task 1

### Task 2

Use ```df_females``` to determine which female name was given to the most babies from 1880 to 2017. (This should represent a single spelling only; do not try to combine similar names.)

#### Associated D2L Quiz Question:
- _What female name was given to the most babies from 1880 to 2017?_

In [ ]:
# Task 2

### Task 3

Use ```df_females``` to determine in how many _**years**_ the name _Heather_ was used?

#### Associated D2L Quiz Question:
- _In how many years between 1880 and 2017 was the name 'Heather' used?_

In [ ]:
# Task 3

### Task 4

Add a column to ```df_females``` representing the _**length**_ (number of characters) of each name.

#### Associated D2L Quiz Question:
- _What is the **average** (mean) length of all names in the ```df_females``` dataframe?_

In [ ]:
# Task 4

### Task 5

Using your result from Task 4, find the length of the longest female name that begins with the letter 'J'

#### Associated D2L Quiz Question:
- _What is the length of the longest female name beginning with the letter 'J'?_

In [ ]:
# Task 5

### Task 6

Using ```df_females```, find the number of female names that do NOT contain the letter 'E' (upper OR lower case).

#### Associated D2L Quiz Question:
- _How many female names do NOT contain the letter 'E' (upper OR lower case)?_

In [ ]:
# Task 6

### Task 7

Using ```df_females```, find the number of different female names that END with the letter 'h'.

#### Associated D2L Quiz Question:
- _How many female names END with the letter 'h'?_

In [ ]:
# Task 7

### Task 8

We now return to the _**original**_ dataframe, ```df_names```. Using this dataframe, find the year when the **_female_** name 'Joy' was used the most.

#### Associated D2L Quiz Question:
- _In what year was the **_female_** name 'Joy' used the most?_

In [ ]:
# Task 8

### Task 9

From ```df_names```, create a dataframe with only the records representing the names 'Elizabeth' and 'Jane' as **_female_** names. Using this dataframe, create a plot showing the number of times each name was used each year from 1880 to 2017.

#### Associated D2L Quiz Question:
- _Upload/paste your plot showing the number of times each name (Elizabeth, Jane) was used each year from 1880 to 2017._ (**Note this item will be manually scored.**)

In [ ]:
# Task 9

### Task 10

From ```df_names```, create a dataframe with **only** the records representing the names 'Adona' and 'Zila'. From this result, create a _**wide format**_ dataframe where all data for each name is contained in a single **row**, with columns for each _**year**_.  For example, if Adona was used 12 times in 1910, then the column called '1910' should have the value 12 on the row for Adona.  Note that only years in which at least one of the names was used should appear as columns in your result. 



#### Associated D2L Quiz Questions:
- _How many different **years** are represented in the columns of the wide format dataframe?_
- _How many year columns have data for **both** names?_
- _How many cells in the table have NA as the value?_
- _Paste a copy of your wide format table._ (**Note this item will be manually scored.**)
- _Paste the code used to create your wide format table._ (**Note this item will be manually scored.**)

In [ ]:
# Task 10