# MATH 3345 Project 1

Perform the tasks below.  Your final result should be an .HTML file of this notebook, with all code cells run and all answers provided in a markdown cell where instructed.

As a guide, remember to consult the examples and lesson notebooks from Chapters 1-5 of _**R for Data Science (2nd Ed.)**_

## Background

The file you will work with contains total numbers of men and women in the 4 main branches of the U.S. Armed Services. Service members have the following attributes:

#### Branch of Service

- Air Force
- Army
- Marines
- Navy

#### Rank Type

- Enlisted
- Officer
- Warrant 

#### Pay Grade
Pay grade is an alphanumeric code (e.g., E-4 or W-2)

#### Marital Status

- Single with no children
- Single with children
- Married with military spouse
- Married with civilian spouse

#### Gender
- Female
- Male

The file gives the total number of people in each of several categories.  Some columns are combinations of the above categories.

### Set Up 

You may load **tidyverse** or just load the **dplyr**, **tidyr**, and **ggplot2** packages.

**NOTE:** _Only run the 'install.packages' steps below if the ```library``` commands in the 4th code cell generate an error message._

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("dplyr")

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("tidyr")

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("ggplot2")

In [ ]:
library(dplyr)
library(tidyr)
library(ggplot2)

### Data Set

The data set is loaded below. If you are using RStudio, you may need to copy the data file from D2L and change the path in the code below to load the data.

In [ ]:
active_duty <- read.csv("Data/ActiveDuty_MaritalStatus_All.csv")
head(active_duty)

### Task 1: Tidy Data with Full DataFrame

Create a new dataframe called ```tidy_all``` that contains a tidy version of the full ```active_duty``` data set. A single row will be uniquely identified by a branch, rank type, pay grade, marital status, and gender. There will be one column for each of these 5 variables, and a 6th column containing a count of how many individuals are in that category.

Use the cell below to create the dataframe described. Be sure to run the next 2 cells to show your results.

In [ ]:
#Your solution to Task 1

In [ ]:
glimpse(tidy_all)

In [ ]:
head(tidy_all)

### Task 2: Summary Data from Your Previous Result

Use the ```tidy_all``` dataframe you created to create and display the following summarized dataframes.

#### Total by Gender

Use the most appropriate commands in **dplyr** to create and display a table that shows each gender and the total number of active duty military in each group (regardless of branch, rank, etc.)  _Note that your result should be a dataframe with only 2 rows._

In [ ]:
#Total by Gender

#### Total by Branch

Use the most appropriate commands in **dplyr** to create and display a table that shows each military branch and the total number of active duty military in that branch (regardless of gender, rank, etc.)  _Note that your result should be a dataframe with only 4 rows._

In [ ]:
#Total by Branch

#### Total Officers by Gender

Use the most appropriate commands in **dplyr** to create and display a table that restricts data only to those active military who are officers, and shows each gender and the total number of officers of that gender.  _Note that your result should be a dataframe with only 2 rows._

In [ ]:
#Total Officers by Gender

#### Total by Branch and Rank Type

Use the most appropriate commands in **dplyr** to create and display a table that shows each branch (e.g., Army) and rank type (e.g., Enlisted) and the total number of active duty military in each of those groups (regardless of gender or pay grade).

In [ ]:
#Total by Branch and Rank Type

#### Total by Branch, Gender, and Rank Type

Use the most appropriate commands in **dplyr** to create and display a table that shows each branch (e.g., Army), gender, and rank type (e.g., Enlisted) and the total number of active duty military in each of those groups (regardless of pay grade).

In [ ]:
#Total by Branch and Rank Type

#### Total by Branch and Pay Grade, SORTED from highest to lowest

Use the most appropriate commands in **dplyr** to create and display a table that shows, for EACH pay grade and branch, the total number of members, SORTED from highest number of members to lowest.

In [ ]:
#Total by Branch and Pay Grade, sorted highest to lowest

### Task 3: Tidy Table with Only Single Members

Create a _subset_ of your previous data set that only contains single members. Call the subset df_single; the columns of df_single should be branch, rank type, pay grade, gender, and a column indicating whether or not the members have children. Notice that this will require you to do some additional tidying steps.  Be sure to run the cells after your work to display the result.

_**HINT: You may want to change some column names to make the data tidying steps even easier. Try looking this up on Google.**_

In [ ]:
#Tidy Table with only single members

In [ ]:
glimpse(df_single)

In [ ]:
head(df_single)