# Python Activity
## Introduction to Pandas

This notebook is designed to acquaint you with the Pandas module in Python. Refer to the content in Chapter 5 of _**Python for Data Analysis (3rd Ed.)**_ for examples of the type of code you need for these exercises.

For EACH exercise:

1. Read the description of the task
2. Type your solution in the code cell marked ```### YOUR CODE HERE```
3. Run your code (fix any issues and re-run if needed)
4. Run the TEST CELL that FOLLOWS your code cell. **_DO NOT MODIFY THE TEST CELL._**

The output from the TEST CELL will indicate whether you have performed the task correctly. If the result does not say _`Passed!`_ then you should return to your code cell and revise your code.

# Pandas: Tidying Data in Python

This activity focuses on relational representation referred to as the _tidy_ form of data. This is the same concept that we examined previously using R. 

You may recall that the idea of tidy data was developed by [Hadley Wickham](http://hadley.nz/), a statistician and author of many R libraries. Much of this notebook is based on his tutorial materials (see below).

If you recall what we have studied in [SQL](https://en.wikipedia.org/wiki/SQL), then you may recognize some of the relational data representations that you will encounter in these exercises. However, you may notice some differences, because our main goal will be to extract or prepare data in a way that makes analysis easier.

You may find it helpful to also refer to the original materials on which this lab is based:

* Wickham's R tutorial on making data tidy: http://r4ds.had.co.nz/tidy-data.html
* The slides from a talk by Wickham on the concept: http://vita.had.co.nz/papers/tidy-data-pres.pdf
* Wickham's more theoretical paper of "tidy" vs. "untidy" data: http://www.jstatsoft.org/v59/i10/paper

------------------------------------------------------------

## Let's Review: What is tidy data?

Consider the following data set collected from a survey or study.

**Representation 1.** [Two-way contigency table](https://en.wikipedia.org/wiki/Contingency_table).

|            | Registered to Vote | Not Registered |
|-----------:|--------:|------------:|
| **Male**   |     20    |      5       |
| **Female** |     12    |      9       |

**Representation 2.** Summary List (as a "data frame").

| Gender  | Registered to Vote | Count |
|:-------:|:--------:|-----:|
| Male    | Yes      | 20     |
| Male    | No       |  5     |
| Female  | Yes      | 12     |
| Female  | No       |  9     |

These are two entirely equivalent ways of representing the same data. However, each may be suited to a particular task.

Also consider this third representation:

**Representation 3.** Observation List (as a data frame).

| ID | Gender  | Registered to Vote | 
|:--:|:-------:|:--------:|
| 01| Male    | Yes      |
| 02| Male    | Yes      |
| 03| Male    | No      |
| 04| Male    | Yes      |
| 05| Male    | No       |
| 06| Female  | Yes      |
| 07| Female  | No       | 
| 08| Female  | No       | 
| 09| Male    | No       |
**_...and so on_**

The difference between Representations 2 and 3 is that in Representation 3, each individual in the data set is represented in a separate row.

**Definition: Tidy datasets.** More specifically, Wickham defines a tidy data set as one that can be organized into a 2-D table such that

1. each column represents a _variable_;
2. each row represents an _observation_;
3. each entry of the table represents a single _value_, which may come from either categorical (discrete) or continuous spaces.

Here is a visual schematic of this definition, [as provided by Wickham](http://r4ds.had.co.nz/images/tidy-1.png):

![Wickham's illustration of the definition of tidy](http://r4ds.had.co.nz/images/tidy-1.png)

This definition appeals to a statistician's intuitive idea of data he or she wishes to analyze. It is also consistent with tasks that seek to establish a functional relationship between some response (output) variable from one or more independent variables.

> Note that in computer science and/or machine learning contexts, we might refer to columns as _features_ and individual rows as _data points_ (i.e., each observation is a 'data point'.)

**Definition: Tibbles.** If a table is tidy, we will call it a _tidy table_, or _tibble_, for short.

### The Pandas Library

Much like the R libraries that facilitate data tidying, Python has the [Pandas](http://pandas.pydata.org/) module, which provides a convenient way to store tibbles. You may notice that the design and API of Pandas's data frames derives from [R's data frames](https://stat.ethz.ch/R-manual/R-devel/library/base/html/data.frame.html).

You may find this introduction to the Pandas module's data structures useful for reference:

* https://pandas.pydata.org/pandas-docs/stable/dsintro.html

We will start by loading Pandas and other Python libraries needed for this notebook.

In [ ]:
# Libraries needed in this notebook
import pandas as pd
from io import StringIO
from IPython.display import display

# Ignore this line. It will be used later.
SAVE_APPLY = getattr(pd.DataFrame, 'apply')

#Display version of pandas
print(pd.__version__)

## Exercises

We'll start with the famous [Iris data set](https://en.wikipedia.org/wiki/Iris_flower_data_set). It consists of 50 samples from each of three species of Iris (_Iris setosa_, _Iris virginica_, and _Iris versicolor_). Four features were measured from each sample: the lengths and the widths of the [sepals](https://en.wikipedia.org/wiki/Sepal) and [petals](https://en.wikipedia.org/wiki/Petal).

The following code uses Pandas to read and represent this data in a Pandas data frame object, stored in a variable named `irises`.

In [ ]:
irises = pd.read_csv('Data/iris.csv')
print("=== Iris data set: {} rows x {} columns. ===".format(irises.shape[0], irises.shape[1]))
display (irises.head())

##### Observations
In a Pandas data frame, every column has a name (stored as a string) and all values within the column must have the same primitive type. This fact makes columns different from, for instance, lists.

In addition, every row has a special column, called the data frame's _index_. Each index value serves as a name (or ID) for its row. Below, we print the index for the iris data set.

In [ ]:
print(irises.index)

**Exercise 1** Run each of the following commands (one at a time) to understand what it does. If it's not obvious, try reading the [Pandas documentation](http://pandas.pydata.org/) or going online to get more information. You may also want to try some additional commands to explore more deeply. 

```python
irises.describe()
irises['sepal length'].head()
irises[["sepal length", "petal width"]].head()
irises.iloc[5:10]
irises[irises["sepal length"] > 5.0]
irises["sepal length"].max()
irises['species'].unique()
irises.sort_values(by="sepal length", ascending=False).head(1)
irises.sort_values(by="sepal length", ascending=False).iloc[5:10]
irises.sort_values(by="sepal length", ascending=False).loc[5:10]
irises['x'] = 3.14
irises.rename(columns={'species': 'type'})
del irises['x']
```

In [ ]:
#
# YOUR CODE HERE (Use additional code cells if you like)
#

**Exercise 2.** Use some of what you learned above to create the following results.

* Create a dataframe containing only rows for the _'Iris-virginica'_ species, with only the petal length and petal width columns; store the result in a variable called `iris_virginica`
* Create a dataframe containing data (all columns) for only those irises with petal length greater than 4, sorted from smallest to largest petal length; store the result in a variable called `long_petals`
* Find the mean petal length of all irises of species _'Iris-setosa'_ in the data set; store the result in a variable called `petal_mean`

In [ ]:
#
# YOUR CODE HERE (Use additional code cells if you like)
#

In [ ]:
# Test cell: `basics_test`

assert set(iris_virginica.columns) == ({'petal length'} | {'petal width'}), "Result should only have petal length and width columns"
assert len(iris_virginica.iloc[0]) == 2, "iris_virginica should have 2 columns"
assert len(iris_virginica) == 50, "iris_virginica should have 50 rows"
assert abs(iris_virginica["petal width"].mean() - 2.026) < 1e-6, "iris_virginica does not contain the correct data"

assert len(long_petals) == 84, "long_petals does not have the correct number of rows"
assert len(long_petals.iloc[0] == 5), "long_petals does not have the correct number of columns"
assert abs(long_petals["petal width"].mean() - 1.77738) <1e-6, "long_petals does not contain the correct data"

assert abs(petal_mean - 1.462) < 1e-6, "Mean petal length of setosa species is incorrect."

print("\n(Passed!)")

## Merging data frames: Join operations

Another useful operation on data frames is [merging](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html).

For instance, consider the following two tables, `A` and `B`:

| country     | year | cases  |
|:------------|-----:|-------:|
| Afghanistan | 1999 |    745 |
| Brazil      | 1999 |  37737 |
| China       | 1999 | 212258 |
| Afghanistan | 2000 |   2666 |
| Brazil      | 2000 |  80488 |
| China       | 2000 | 213766 |

| country     | year | population |
|:------------|-----:|-----------:|
| Afghanistan | 1999 |   19987071 |
| Brazil      | 1999 |  172006362 |
| China       | 1999 | 1272915272 |
| Afghanistan | 2000 |   20595360 |
| Brazil      | 2000 |  174504898 |
| China       | 2000 | 1280428583 |

Suppose we wish to combine these into a single table, `C`:

| country     | year | cases  | population |
|:------------|-----:|-------:|-----------:|
| Afghanistan | 1999 |    745 |   19987071 |
| Brazil      | 1999 |  37737 |  172006362 |
| China       | 1999 | 212258 | 1272915272 |
| Afghanistan | 2000 |   2666 |   20595360 |
| Brazil      | 2000 |  80488 |  174504898 |
| China       | 2000 | 213766 | 1280428583 |

In Pandas, you can perform this merge using the [`.merge()` function](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html):

```python
C = A.merge (B, on=['country', 'year'])
```

In this call, the `on=` parameter specifies the list of column names to use to align or "match" the two tables, `A` and `B`. By default, `merge()` will only include rows from `A` and `B` where all keys match between the two tables.

The following code cells demonstrate this functionality.

In [ ]:
# Set up dataframes A and B

A_csv = """country,year,cases
Afghanistan,1999,745
Brazil,1999,37737
China,1999,212258
Afghanistan,2000,2666
Brazil,2000,80488
China,2000,213766"""

B_csv = """country,year,population
Afghanistan,1999,19987071
Brazil,1999,172006362
China,1999,1272915272
Afghanistan,2000,20595360
Brazil,2000,174504898
China,2000,1280428583"""

with StringIO(A_csv) as fp:
    A = pd.read_csv(fp)

with StringIO(B_csv) as fp:
    B = pd.read_csv(fp)
    
print("=== A ===")
display(A)

print("\n=== B ===")
display(B)

In [ ]:
# Merge A and B

C = A.merge(B, on=['country', 'year'])
print("\n=== C = merge(A, B) ===")
display(C)

#### Types of Joins

This default behavior of keeping only rows that match both input frames is an example of what relational database systems call an _inner-join_ operation. But there are several other types of joins.

- _Inner-join (`A`, `B`)_ (default): Keep only rows of `A` and `B` where the on-keys match in both.
- _Outer-join (`A`, `B`)_: Keep all rows of both frames, but merge rows when the on-keys match. For non-matches, fill in missing values with not-a-number (`NaN`) values.
- _Left-join (`A`, `B`)_: Keep all rows of `A`. Only merge rows of `B` whose on-keys match `A`.
- _Right-join (`A`, `B`)_: Keep all rows of `B`. Only merge rows of `A` whose on-keys match `B`.

You can use `merge`'s `how=...` parameter, which takes the (string) values, `'inner`', `'outer'`, `'left'`, and `'right'`. We will use dataframes `D` and `E` (defined below) to practice some of these joins.

In [ ]:
# Dataframes to practice joins

with StringIO("""x,y,z
bug,1,d
rug,2,d
lug,3,d
mug,4,d""") as fp:
    D = pd.read_csv(fp)
print("=== D ===")
display(D)

with StringIO("""x,y,w
hug,-1,e
smug,-2,e
rug,-3,e
tug,-4,e
bug,1,e""") as fp:
    E = pd.read_csv(fp)
print("\n=== E ===")
display(E)

**Exercise 3.** Use dataframes `D` and `E` above to create the following results. Remember that you will need to use `how=` within your `merge` instruction to obtain the correct type of merge.

* Joining on columns `x` and `y`, create a dataframe containing only rows of `D` and `E` where columns `x` and `y` match in both dataframes; store the joined result in a variable called `join1`
* Joining on columns `x` and `y`, create a dataframe containing all rows of `D` and any data from `E` where columns `x` and `y` match; store the joined result in a variable called `join2`
* Joining on columns `x` and `y`, create a dataframe containing all rows of `E` and and data from `D` where columns `x` and `y` match; store the joined result in a variable called `join3`
* Joining on columns `x` and `y`, create a dataframe containing all rows of both `D` and `E`, combining those rows where columns `x` and `y` match; store the joined result in a variable called `join4`

In [ ]:
#
# YOUR CODE HERE (Use additional code cells if you like)
#

In [ ]:
# Test cell: `join_test`

assert set(join1.columns) == ({'x'} | {'y'} | {'z'} | {'w'}), "Joined result should have columns x, y, z, and w"
assert len(join1.iloc[0]) == 4, "Joined result should have 4 columns"
assert len(join1) == 1, "join1 should have 1 row"
assert not join1.isnull().values.any(), "join1 should have no null values" 

assert set(join2.columns) == ({'x'} | {'y'} | {'z'} | {'w'}), "Joined result should have columns x, y, z, and w"
assert len(join2.iloc[0]) == 4, "Joined result should have 4 columns"
assert len(join2) == 4, "join2 should have 4 rows"
assert join2["w"].isnull().sum() == 3, "join2 should have 3 null values in column w" 
assert not join2["z"].isnull().values.any(), "join2 should NOT have null values in column z"

assert set(join3.columns) == ({'x'} | {'y'} | {'z'} | {'w'}), "Joined result should have columns x, y, z, and w"
assert len(join3.iloc[0]) == 4, "Joined result should have 4 columns"
assert len(join3) == 5, "join3 should have 5 rows"
assert not join3["w"].isnull().values.any(), "join3 should NOT have null values in column w" 
assert join3["z"].isnull().sum() == 4, "join3 should have 4 null values in column z"

assert set(join4.columns) == ({'x'} | {'y'} | {'z'} | {'w'}), "Joined result should have columns x, y, z, and w"
assert len(join4.iloc[0]) == 4, "Joined result should have 4 columns"
assert len(join4) == 8, "join4 should have 8 rows"
assert join4["w"].isnull().sum() == 3, "join4 should have 3 null values in column w" 
assert join4["z"].isnull().sum() == 4, "join4 should have 4 null values in column z"

print("\n(Passed!)")

## Apply functions to data frames

Another useful instruction is `apply()`, which can apply a function to a data frame or to a column of the data frame (called a _series_).

For instance, suppose we wish to convert the year column in `C` into an abbrievated two-digit form. The code below will do it. Note that we make a _**copy**_ of `C` so our changes will only be made in the copy, without modifying the original dataframe.

In [ ]:
# Recall our dataframe C
display(C)

#### Create a function to convert a 4-digit numeric year to a 2-digit year as a string

The function below will take the last 2 digits of the year and use them to create a string that starts with an apostrophe.  For instance, from the year 2024, the function would return **'24**.

In [ ]:
def year2d (y):
    return "'{:02d}".format(y % 100)

##### Below, we try the function on a couple of specific years.

In [ ]:
year2d(2024)

In [ ]:
year2d(2007)

### Use `apply` to apply this function to an entire column.

In [ ]:
G = C.copy() # If you do not use copy function the original data frame is modified

G['year'] = G['year'].apply(year2d)
display(G)

#### Another option: Anonymous functions

If the function you want to apply is not needed anywhere else, you can define it directly inside the `apply` command as shown below. Functions defined this way are also called _lambda_ functions.

In [ ]:
G = C.copy() # If you do not use copy function the original data frame is modified

G['year'] = G['year'].apply(lambda x: "'{:02d}".format(x % 100))
display(G)

**Exercise 4.** Suppose you wish to compute two new columns:
* the _prevalence_, which is the ratio of cases to the population
* the prevalence _percentage_, which is the prevalence expressed as a percentage rounded to 4 digits past the decimal, and using the **%** symbol.

For the first row in the dataframe (Afghanistan 1999), the prevalence should be $\frac{745}{19987071} \approx 0.000037$. Expressed as a percentage, it should appear as **0.0037%**.

You are required to use `apply` in your solution. Feel free to consult the example above, the text, or the [documentation for apply()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) for more help.

Implement your solution in a function, `calc_prevalence(G)`, which given `G` returns a **new copy** `H` that has columns named `'prevalence'` and `'percentage'` holding the correctly computed and formatted prevalence and percentage values.

> **Note 1.** The emphasis on "new copy" is there to remind you that your function should *not* modify the input dataframe, `G`.

> **Note 2.** In a previous example, we used a format string of `02d` to format a decimal number; in this exercise, you will need a format string of `0.4f` to format the floating point number to 4 decimal places.

In [ ]:
def calc_prevalence(G):
    assert 'cases' in G.columns and 'population' in G.columns
    #
    # YOUR CODE HERE
    #

In [ ]:
# Test cell: `prevalence_test`

G_copy = G.copy()
H = calc_prevalence(G)
display(H) # Displayed `H` should have a 'prevalence' column

assert (G == G_copy).all().all(), "Did your function modify G? It shouldn't..."
assert set(H.columns) == (set(G.columns) | {'prevalence'} | {'percentage'}), "Check `H` again: it should have the same columns as `G` plus 2 new columns."

assert (abs(H['prevalence'][0] - .000037) < 1e-6), "One or more prevalence values is incorrect."
assert (abs(H['prevalence'][5] - .000167) < 1e-6), "One or more prevalence values is incorrect."
assert (H['percentage'][0] == '0.0037%'), "At least one percentage value is incorrect."
assert (H['percentage'][5] == '0.0167%'), "At least one percentage value is incorrect."

print("Testing use of `apply()`...")

# Tests that you actually used `apply()` in your function:
def apply_fail():
    raise ValueError("Did not find `apply()` in your solution.")
    
setattr(pd.DataFrame, 'apply', apply_fail)
try:
    calc_prevalence(G)
except (ValueError, TypeError):
    print("You used `apply()` in your solution.")
else:
    assert False, "Did not find `apply()` in your solution."
finally:
    setattr(pd.DataFrame, 'apply', SAVE_APPLY)

print("\n(Passed!)")

#### READY TO SUBMIT?
You've reached the end of this notebook. Be sure to restart and run all cells again to **make sure all cells are working** when they run in order. Then submit your **completed** HTML to the submission  folder for this activity.