# MATH 3345 R Lesson Notebook 2

## Tidy Data: Organization of Tables

This notebook accompanies Chapter 5 of _**R for Data Science (2nd Ed.)**_

### Set Up (Section 5.1.1)

The textbook has you load tidyverse.  Another option is to load **dplyr**, **tidyr**, and **ggplot2**, which are the packages needed for these exercises.

**NOTE:** _Only run the 'install.packages' steps below if the ```library``` commands in the 4th code cell generate an error message._

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("dplyr")

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("tidyr")

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("ggplot2")

In [ ]:
library(dplyr)
library(tidyr)
library(ggplot2)

### Tidying Data 

Follow the steps for tidying data as shown in the next sections. Reformat the tables as shown in the text by typing the code given in each example of the sections indicated below. Insert a new code cell to carry out each example.

To get the most out of these exercises, **_do NOT copy/paste the code from the online textbook._** Type it yourself so that you will become more familiar with how the commands work.

### Introduction (Section 5.2)

The data sets used in this section are displayed by the first code cells. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
table1

In [ ]:
table2

In [ ]:
table3

### Lengthening Data: Data in Column Names (Section 5.3.1)

The data set used in this section is displayed by the first code cell. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
glimpse(billboard)

In [ ]:
head(billboard,3)

### Lengthening Data: How Does Pivoting Work? (Section 5.3.2)

The data set used in this section is created and displayed by the first code cell. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
df <- tribble(
  ~id,  ~bp1, ~bp2,
   "A",  100,  120,
   "B",  140,  115,
   "C",  120,  125
)

df

### Lengthening Data: Multiple Variables in Column Names (Section 5.3.3)

The data set used in this section is displayed by the first code cell. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
glimpse(who2)

#### Did the ```who2``` data set display correctly above?

- If so, _**SKIP** the next cell_
- If not, _uncomment_ the instructions in the next cell and load the data set manually by running the cell.

In [ ]:
# Backup code if who2 dataset is not available
# ONLY IF NEEDED: Uncomment the instructions below and run this cell to load the data manually 

#who2 <- read.csv("Data/who2.csv")
#glimpse(who2)

In [ ]:
head(who2,3)

### Lengthening Data: Data and Variable Names in Column Headers (Section 5.3.4)

The data set used in this section is displayed by the first code cell. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
glimpse(household)

#### Did the ```household``` data set display correctly above?

- If so, _**SKIP** the next cell_
- If not, _uncomment_ the instructions in the next cell and load the data set manually by running the cell.

In [ ]:
# Backup code if household dataset is not available
# ONLY IF NEEDED: Uncomment the instructions below and run this cell to load the data manually 

#household <- read.csv("Data/household.csv")
#glimpse(household)

In [ ]:
household

### Widening Data: Introduction (Section 5.4)

The data set used in this section is displayed by the first code cell. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
glimpse(cms_patient_experience)

#### Did the ```cms_patient_experience``` data set display correctly above?

- If so, _**SKIP** the next cell_
- If not, _uncomment_ the instructions in the next cell and load the data set manually by running the cell.

In [ ]:
# Backup code if cms_patient_experience dataset is not available
# ONLY IF NEEDED: Uncomment the instructions below and run this cell to load the data manually 

#cms_patient_experience <- read.csv("Data/cms_patient_experience.csv")
#glimpse(cms_patient_experience)

In [ ]:
head(cms_patient_experience)

### Widening Data: How Does Pivoting Wider Work? (Section 5.4.1)

The data sets used in this section are created and displayed by the first code cells. Make sure you are able to load the data successfully. Then create a new code cell to carry out _each_ example in the section.

In [ ]:
df <- tribble(
  ~id, ~measurement, ~value,
  "A",        "bp1",    100,
  "B",        "bp1",    140,
  "B",        "bp2",    115, 
  "A",        "bp2",    120,
  "A",        "bp3",    105
)

df

#### Second Version of ``df`` for Duplicate Values Examples

The last 2 examples use a different version of dataframe ``df`` that contains duplicates values. This dataset is constructed and displayed below. Create a new code cell to carry out _each_ remaining example in the section.

In [ ]:
df <- tribble(
  ~id, ~measurement, ~value,
  "A",        "bp1",    100,
  "A",        "bp1",    102,
  "A",        "bp2",    120,
  "B",        "bp1",    140, 
  "B",        "bp2",    115
)

df