# MATH 3345 R Lesson Notebook 4

## Logical Values and Vectors

This notebook accompanies Chapter 12 of _**R for Data Science (2nd Ed.)**_

### Set Up (Section 12.1.1)

The textbook has you load tidyverse.  Another option is to load **dplyr**, which is the package needed for these exercises.

**NOTE:** _Only run the 'install.packages' step below if the ```library``` command to load **dplyr** generates an error message._

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("dplyr")

In [ ]:
library(dplyr)

### Load Library for Data
These activities require the ```flights``` data set in the nycflights13 library. If the library fails to load, remember to install it first using _```install.packages```_

In [ ]:
library(nycflights13)

In [ ]:
glimpse(flights)

In [ ]:
head(flights)

### Explore Examples

Follow the steps for re-creating the examples as shown by typing the code given in each example of the sections indicated below. Insert a new code cell to carry out each example.

To get the most out of these exercises, **_do NOT copy/paste the code from the online textbook._** Type it yourself so that you will become more familiar with how the commands work.

### Prerequisites (Section 12.1.1)

We have already loaded the library with the flights data set.  Follow the remaining examples in this section to create additional data sets that we will work with.  Create a new code cell to carry out _each_ example in the section.

### Comparisons (Section 12.2)

Create a new code cell to carry out _each_ example in the section. Also consider creating one or more **markdown** cells to write some notes to yourself about what each example is illustrating.

### Boolean Algebra (Section 12.3)

Create a new code cell to carry out _each_ example in the section. Also consider creating one or more **markdown** cells to write some notes to yourself about what each example is illustrating.

### Using Logical Operations in _Summaries_ (Section 12.4)

Create a new code cell to carry out _each_ example in the section. Also consider creating one or more **markdown** cells to write some notes to yourself about what each example is illustrating.

### Conditional Transformations (Section 12.5)

Create a new code cell to carry out _each_ example in the section. Also consider creating one or more **markdown** cells to write some notes to yourself about what each example is illustrating.