# MATH 3345 Test 1 Notebook (Applied)

Points for your TEST 1 score are allocated as follows:

* Knowledge Portion (TIMED D2L Quiz) - 50 points
* Applied Portion (not timed)
   * The html from this notebook submitted to the assignment folder - 25 points
   * Answers to the questions in this notebook, entered in second D2L quiz (NOT timed) - 25 points

Your html submission should show your code AND its results.

**_No part of this test may be submitted late. Any part of the test not received by the due date will receive a zero._**

### Set Up 

You may load tidyverse, or just the packages needed for this notebook: the **dplyr**, **stringr**, and **tidyr** libraries.

**NOTE:** _Only run the 'install.packages' steps below if the ```library``` command fails to load the specified package._

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("dplyr")

In [ ]:
library(dplyr)

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("stringr")

In [ ]:
library(stringr)

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("tidyr")

In [ ]:
library(tidyr)

### Load Library for Data
Some of these tasks require the ```babynames``` data set in the **babynames** library. If the library fails to load, remember to install it first using _```install.packages```_ in the cell below.

In [ ]:
#Remove the comment symbol on the line below, run the line ONE time, then replace the comment symbol
#install.packages("babynames")

In [ ]:
library(babynames)

In [ ]:
head(babynames)

## Tasks

For each task below, use the appropriate R instructions to determine the answer. Note that _each different spelling of a name is considered a different name_. For instance, 'Ann' and 'Anne' are different names.

**_You will need to enter the answer to each question in the D2L quiz._** Your code will be evaluated based on your html submission of this notebook.

## Question 1. 

**There are multiple versions of this question.** Each version of the question uses a different name. An example of the question is given below using the name _'Jack'_. **_Be sure to find the solution for the version of the question given in your D2L quiz._**

In the ```babynames``` data set, how many male babies were named _Jack_ in 2004?

In [ ]:
# Your code for Question 1

## Question 2. 

In the ```babynames``` data set, what was the **_most common_** male baby name in 2004?

In [ ]:
# Your code for Question 2

## Question 3. 

**There are multiple versions of this question.** Each version of the question uses a different name. An example of the question is given below using the name _'Jack'_. **_Be sure to find the solution for the version of the question given in your D2L quiz._**

In the ```babynames``` data set, in what year were there the MOST male babies named _Jack_?

In [ ]:
# Your code for Question 3

## Question 4. 

In the ```babynames``` data set, how many _**different**_ female names are there? (Remember that each unique spelling is considered a different name.)

In [ ]:
# Your code for Question 4

## Question 5. 

Create a dataframe called ```df_totals``` that shows each different name and the _**total**_ number of babies with that name (regardless of year). **CAUTION:** _Note that you are not simply counting the number of rows, as each row represents a total number for the specified year._ 

Use ```df_totals``` to answer Questions 5 - 8.  

**(Q5)** In the ```df_totals``` data set, which name has the highest total over all years combined?

In [ ]:
# Your code for Question 5

## Question 6. 

For the name with the highest total over all years combined, what is the total number of babies who were given that name?

In [ ]:
# Your code for Question 6

## Question 7. 

There is a tie for the _lowest_ total number of babies with a specified name. How many names are tied for the lowest total number of babies?

_Use any one of these names as the basis for the next question_.

In [ ]:
# Your code for Question 7

## Question 8. 

For one of the names given to the _lowest_ total number of babies, how many babies were given that name?

In [ ]:
# Your code for Question 8

## Question 9. 

Create a dataframe called ```df_overview``` that shows each different name, the total number of babies given that name, the _**earliest**_ year that name was used, the _**latest**_ year the name was used, and the _**span**_ of years that the name was used.  

**Example:** If a name was first used in 1900 and was last used in 1920, the **_span_** is 21 years (note that 20 is not the right value, because both the first and last years must be counted in the span.)

**If** you order the rows from highest to lowest span, in alphabetical order by name within each span, the first 6 rows of the ```df_overview``` dataframe will look like this:

```
A tibble: 6 Ã— 5
name    total   earliest latest span
<chr>   <int>   <dbl>   <dbl>   <dbl>
Aaron   579589  1880    2017    138
Abbie   21716   1880    2017    138
Abbott  1020    1880    2017    138
Abby    57756   1880    2017    138
Abe     9158    1880    2017    138
Abel    50236   1880    2017    138
```

_The above result is shown to help you understand the task. Putting your rows in this order is **NOT** required._

Use ```df_overview``` to answer Questions 9 - 12.  

**(Q9)** In the ```df_overview``` data set, the highest span is 138 years. How many names have a span of 138 years?

In [ ]:
# Your code for Question 9

## Question 10. 

Among names with a span of exactly 100 years, which _name_ was given to the highest total number of babies?  

_Also use this name as the basis for the next question_.

In [ ]:
# Your code for Question 10

## Question 11. 

For the name with the highest total among names with a 100-year span, what is the _total number of babies_ who were given that name?

In [ ]:
# Your code for Question 11

## Question 12. 

What is the **_average_** span for all baby names that end with 'ie'?

In [ ]:
# Your code for Question 12

## Question 13. 

Notice that span is not always the same as the number of years a name is actually used. For instance, a name that was first used in 1900 and last used in 1950 may not have been used in _every year_ in that 51 year span.  We can compare the span to the total count of the number of years that a name was used. For example, the table below shows some selected names for which the _**count**_ of years the name was used is lower than the span. (Notice that **count** represents the number of years the name is used, whereas **total** represents the number of babies who received that name.) 

The table has an additional column called **unused**, which is the difference between the span and the count.

```
A tibble: 3 Ã— 7
name    count   total   earliest latest span    unused
<chr>   <int>   <int>   <dbl>    <dbl>  <dbl>   <dbl>
Adah    120     3323    1880     2017   138     18
Adaline 129     8154    1880     2017   138     9
Azelie  10      100     1884     2017   134     124
```

You many construct a similar table or use any other reasonable method in **R** to determine the answer to this question: 

During the span of years that the name *Lulah* was given to babies, in how many of those years was the name *Lulah* **unused**?

In [ ]:
# Your code for Question 13

## Question 14. 

Because these data are given by year, a single name can appear in the data set multiple times (once for each year.) Create a dataset that contains each different name only one time, and use that data set to answer questions 14-15.

**(Q14)** How many different names in the data set start with 'J' and and with 'ey'?

In [ ]:
# Your code for Question 14

## Question 15. 

A name with a **double vowel** has the **_same_** vowel used twice in a row, such as 'Aaron' or 'Lee'. 

How many different names in the data set have a double vowel?   

#### HINTS

* We are only considering a, e, i, o, and u as vowels (not y)
* Remember that one of the vowels may be capitalized (e.g., if the name starts with a double vowel, like 'Aaron')

In [ ]:
# Your code for Question 15